
.signIn:hover{
    -fx-background-color: black;
    -fx-text-fill: black;
}

.signUpHere:hover{
    -fx-text-fill:  #8bb0cf;
}

.menuItem:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.sidebarItem:hover{
    -fx-background-color: #ccf4ff;
    -fx-border-color: WHITE;
    -fx-border-width: 0px 0px 0px 3px;
}

.paneBoottom{
    -fx-border-color:  #5581b4;
    -fx-border-width: 2px 0px 0px 0px;
}

.form{
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: transparent transparent #5581b4 transparent;
    -fx-border-width: 0px 0px 2px 0px; 
}

.dataPicker{
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: #5581b4 #5581b4 #5581b4 #5581b4;
}

